<head>
<title>vote</title>
    <body>
<p>
{% if info %}
{% if acc ==1 %}
 <h1>vote info: {{ info }}!</h1><!--
<p>{{ length }}</p>
<p>{{ names }}
-->
{% endif %}
{% else %}
  <h1>No available vote info.</h1>
{% endif %}
</p>

<h1> {{title}}</h1>
<h2> {{subtitle}}</h2>
<form action="/posted" method="post">
<!--
<input type="radio" name="sex" value="male">Male<br>
<input type="radio" name="sex" value="female">Female<br>
-->
    {% for i in range(0,length) %}
    <p>
    <input type="checkbox" name="{{getnames[i]}}" value="{{names[i]}}">vote 4 {{names[i]}}<br>
    <span>his details: {{details[i]}}</span>
    </p>
        {% endfor %}
<input type="submit" value="Submit">
</form>
<!--
<a href="/votes/refresh">latest data</a>
-->
</body>